/* You can add global styles to this file, and also import other style files */
.customBox{
  box-shadow: 0px 1px 43px 0px #d3d3d3ad;
  -mozbox-shadow: 0px 1px 43px 0px #d3d3d3ad;
  border: 1px solid #d3d3d3c4;;padding:10px;
  border-radius: 5px;margin-top:20px ;padding:10px;background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px !important;
}
.cdk-overlay-container {
  z-index: 999999 !important;
}
