<div class="container">
  <div class="customBox">
    <h4>Services Status</h4>
    <hr>
    <div>
      <div class="row">
        <div class="col-12">
          <div style="height: 200px;overflow-y: scroll;" class="card">
            <div class="card-head text-center">
              Error Messages
            </div>
            <div class="card-body">
              <div class="row" *ngFor='let message of messages;let i = index'>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-sm" (click)='checkMessage(i)'>
                    i see this
                  </button>
                </div>
                <div class="col-md-10">
                  <p [class]='message.see ? "through" : ""'>
                    {{message.msg}}
                  </p>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table class='table'>
        <thead>
          <tr>
            <td class='text-center'>Service</td>
            <td class='text-center'>Status</td>
            <td class='text-center'>Last Scrap Count</td>
            <td class="text-center">Pause/Play</td>
            <td class="text-center">Show Log</td>
            <!-- <td>Progress Bar</td> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Status">
            <td class='text-center'>{{item.name}}</td>
            <td class='text-center'>
              <label *ngIf='!item.service' class='badge badge-danger'>Stop</label>
              <label *ngIf='item.service' class='badge badge-success'>Start</label>
            </td>
            <td class='text-center'>{{item.count}}</td>
            <td class="text-center">
              <button [class]="item.pause ? 'btn btn-success':'btn btn-danger'" (click)='forceStop(item.name,item.pause)'
                [disabled]='!item.service'>
                {{item.pause ? 'Start' : 'Pause'}}
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-primary btn-sm" [disabled]='!item.service' (click)='toggleLog(item.name)'>
                {{item.showLog ? 'hide' : 'show'}}
              </button>
            </td>
            <!-- <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': (item.persent)+'%'}">{{item.persent}}%</div>
                  </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="customBox">
    <h4>Search</h4>
    <hr>
    <div class="form-row mt-5">
      <div class="col-md-5">
        <label>
          Site
        </label>
        <br>
        <select2 value="selectedSite" [data]="siteList" [options]="options" [cssImport]="true"></select2>
      </div>
      <div class="col-md"></div>
    </div>
    <div class="form-row mt-5">
      <div class="col-md-5">
        <label>
          Origin
        </label>
        <br>
        <select2 value="" [data]="portList" [options]="optionsOrigin" [cssImport]="true"
          (valueChanged)="changedOrigin($event)"></select2>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label>
          Destination
        </label>
        <br>
        <select2 value="selectedSite" [data]="portList" [options]="optionsdes" [cssImport]="true"
          (valueChanged)="changedDestination($event)"></select2>
      </div>
    </div>
    <div class="form-row mt-5">
      <div class="col-md-5">
        <label>
          From Date
        </label>
        <br>
        <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
          [(ngModel)]="scrapReport.fromTime">
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label>
          To Date
        </label>
        <br>
        <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time"
          [(ngModel)]="scrapReport.toTime">
        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-primary mr-auto" (click)="search()">
          <i class="fa fa-search"></i>
          Search
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <h4>Result</h4>
          </div>
          <div class="card-body">
            <div id="list"></div>

          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>